# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Databases
*.sqlite3
*.db

# Django / Logs
*.log
*.pot
*.mo

# Environment
.env

# Pytest
.pytest_cache/

# Docker
postgres_data/
*.pid

# IDEs / Editors
.vscode/
.idea/

# Node / React (future client folder)
node_modules/
dist/
